:root {
    --fg-text-color: black;
    --bg-color: white;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

/* Fix issues with lines appearing on maps on Chrome */
#map { 
    height: 100%;
    background-color: var(--bg-color);
}

.map-white-bg {
    background-color: white !important;
}

.subway-stop-dot {
    background: pink;
    border-radius: 6px;
}

.subway-stop-dot:hover {
    color: green;
}

.subway-stop-label {
    /* visibility: hidden; */
    /* transform: rotate(-20deg);
    transform-origin: left; */
}

/* .subway-stop-label:hover {
    visibility: visible;
} */

#alert-box {
    position: absolute;
    top: 25%;
    z-index: 2000;
    width: 100%;
    text-align: center;
    padding-bottom: 18px;
    margin: auto;
    /* margin-top: 25%; */
    background-color: rgba(226, 219, 219, 0.8);
    font-family: sans-serif;
}

#overhead-box {
    position: absolute;
    bottom: 5%;
    left:0;
    right:0;
    z-index: 2000;
    width: 100vw;
    text-align: center;
}

#message-bar {
    width: 75vw;
    margin: auto;
    color: var(--fg-text-color);
    font-size: 22px;
    font-family: sans-serif;
    text-align: center;
}

.busmarker {
    width: 32px !important;
    height: 32px !important;
    margin-left: -16px !important;
    margin-top: -16px !important;
    border-radius: 32px;
    background-color: red;
    color: white;
}

.busmarker span {
    padding-top: 6px;
    position: absolute;
    font-size: 16px;
}

.bullet-lcl {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}