body {
    background-color: black;
    font-family: Raleway, 'Open Sans', sans-serif;
}

.content {
    opacity: initial;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    font-size: larger;
    line-height: 2;
}

a {
    color: pink;
    text-decoration: none;
}

@media only screen and (max-width : 1000px) {
    .video-background {
        display: none;
    }
    .content {
        margin-left: 5%;
        margin-top: 5%;
        margin-right: 5%;
    }
}