/* @font-face {
    font-family: 'Avenir Next LT Pro Bold';
    src: url(../assets/AvenirNextLTPro-Bold.ttf)
}

@font-face {
    font-family: 'Avenir Next LT Pro Heavy';
    src: url(../assets/AvenirNextLTPro-Heavy.ttf)
}

@font-face {
    font-family: 'Avenir Next LT Pro Regular';
    src: url(../assets/AvenirNextLTPro-Regular.ttf)
} */

html {
    height: 100%;
    top:0;
    bottom:0;
    margin:0;
    background: linear-gradient(#0078b7, #07c386);
}

body {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    /* background: linear-gradient(#03a3f7, #28f19c); */
    color: white;
    font-family: 'AvenirNext-Regular', 'Avenir Next LT Pro Regular';
}

p {
    line-height: 1.5;
}

.header {
    font-family: 'AvenirNext-Bold', 'Avenir Next LT Pro Bold';
}

@media (max-height: 700px) {
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    body {
        padding-left: 4%;
        padding-top: 0;
        padding-right: 4%;
    }
    p {
        line-height: 1.2;
    }
    .text {
        font-size: 14px;
    }
    .bigger-text {
        font-size: 16px;
    }
}

/* .header {
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
} */