body {
    /* width: 100%; */
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    /* background-color: black; */
}

.header {
    height: 82px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.584);
    /* background-image: url('https://i.ytimg.com/vi/1DEANIkZu38/maxresdefault.jpg'); */
    background-image: url('https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F180908200532-cortlandt-st-opening-2.jpg');
    /* background-image: url('https://i.imgur.com/R5klBBk.jpg'); */
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    position: relative;
}

.topcontainer {
    background-color: lightgray;
    user-select: none;
    /* height: 95%; */
}

.bodycontainer {
    padding-top: 12px !important;
    text-align: center;
}

.header-title {
    /* padding-top: 32px; */
    color: white;
    opacity: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.navrow, .x-nav {
    margin-left: 24%;
    margin-right: 24%;
}

/* Mobile Devices */
@media only screen and (max-width: 700px) {
    .navrow, .x-nav {
        margin-left: 5%;
        margin-right: 5%;
    }
    .bodycontainer {
        margin-left: 1%;
        margin-right: 1%;
    }
    td {
        overflow: hidden;
    }
    .header {
        height: 32px;

    }
    .header-title {
        padding-top: 0px;
        margin-top: 0px;
        font-size: large;
    }
}

@media only screen and (min-width: 701px) {
    .bodycontainer {
        margin-left: 20%;
        margin-right: 20%;
    }
    body {
        font-family: 'Raleway', sans-serif;
    }
}

/* .bodycontainer, table, tr, th {
    background-color: black;
    color: white !important;
} */

table {
    table-layout: fixed;
}


.full-margin {
 
}

.navrow-list {
    text-align: justify;
    min-width: 50%;
    padding-left: 0px;
}
.navrow-list:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.navrow-list li {
    display: inline-block;
    text-align: center;
}

.text {
    padding-top: 12px;
}

.bullet-lcl {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

.bullet-lcl-small {
    vertical-align: middle;
    width: 28px;
    height: 28px;
}

.bullet-exp {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.fcenter {
    text-align: center !important;
}

.bodycontainer th {
    text-align: left !important;
}

td {
    text-align: left !important;
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

#x-station-picker tr {
    cursor:pointer;
}

.back-btn {
    width: 100%;
}

.alerts {
    text-align: left;
}

.alerts div {
    border: solid;
    border-width: 1px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    margin-bottom: 16px;
}


.alert-box {
    background-color: rgb(255, 215, 219);
}

.advisory-box {
    background-color: #e4f8ff;    
}

.advisory-attr {
    font-style: italic;
}

.advisory-attr a {
    text-decoration: none;
}

.bullet-mini-lcl {
    width: 28px;
    height: 28px;
}

.bullet-minix-lcl {
    width: 24px;
    height: 24px;
}

.disabled-stop {
    background-color: gray;
}

.x-navrow {
    height: 32px;
    transition: height 0.25s ease-in;
}

.x-navrow-open {
    height: 128px;
    transition: height 0.10s ease-in;
}

/* .x-nav-hide {
    display: none;
} */

.x-nav {
    max-height: 0px;
    transition: max-height 0.25s ease-in;
    visibility: hidden;
    padding-bottom: 4px;
}

.x-nav-open {
    visibility: visible;
    max-height: 512px;
    transition: max-height 0.10s ease-in;
}

.x-navrow li {
    cursor: pointer;
}

.busborder {
    border: solid 1px black;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    /* font-size: large; */
    width: fit-content;
    display: inline-block;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.busborder-small {
    padding-left: 2px;
    padding-right: 2px;
    font-size: small;
}

.busborder-mini {
    padding-left: 2px;
    padding-right: 2px;
    height: 10px;
    line-height: 1;
    font-size: 8pt;
}

.busborder-lightblue {
    background-color: lightblue;
    color: black;
}

.busborder-orange {
    background-color: orange;color: black;
}

.busborder-red {
    background-color: red;color: white;
}

.busborder-blue {
    background-color: blue;color: white;
}

.busborder-green {
    background-color: lime;color: black;
}

.busborder-purple {
    background-color: purple;color: white;
}

#x-adbox {
    margin:auto;
    background-color: gray;

    /* mobile  */
    width: 280px;
    height: 336px;
}

/* @media only screen and (max-width: 320px) {
    #x-adbox {

    }
} */

@media only screen and (min-width: 990px) {
    #x-adbox {
        width: 970px;
        height: 250px;
    }
}

.service-status-container {
    border: 2px solid;
    padding: 4px;
    /* width: fit-content; */
    width: 120px;
    display: inline-block;
    text-align: center;
    margin-bottom: 4px;
    background-color: rgba(23, 220, 112, 0.18);
}

.service-status-c-alert {
    background-color: rgba(220, 36, 23, 0.18);
    color: red;
}

.service-status-c-warning {
    background-color: rgba(243, 209, 13, 0.18);
}

.service-status-c-important {
    background-color: orange;
    color: black;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px red; */
}

.service-status-c-critical {
    background-color: red;
    color: white;
    font-weight: bold;
}

.service-status-box {
    /* border: 1px solid; */
}

.subway-status-text {
    padding-top:2px;
    text-align:center;
    /* font-weight:bold; */
}

.service-status-box .bullet-lcl {
    width: 24px;
    height: 24px;
}

.service-status-container-selected {
    background-color: black;
    color: white;
}

.stopname-td {
    overflow: visible;
}

.bullet-td {
    text-align: right !important;
}

.text-td {
    white-space: normal;
}

.bus-l-td {
    text-align: center !important;
}

.bushead-td, .busstop-td {
    text-transform: capitalize;
}

.busstop-td, .busservices-td, .suggestion-td {
    white-space: normal;
}

.small {
    font-size: small;
}

.service-stop-table {
    line-height: inherit;
}

#x-seqstops-line {
    padding-bottom: 10px;
}

.nav-bullets img {
    cursor: pointer;
}

tr .borough-header {
    height: 20px;
    padding-top: 8px;
    text-align: center !important;
    background-color: black !important;
    color: white !important;
    text-transform: capitalize;
}

.x-station-item {
    cursor: pointer;
}

.suggestion-td {
    background-color: lavender;
}

.x-busdata table th, .x-busdata table td {
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}

.bus-eta-td {
    text-align: center!important;
}

.bus-feta {
    /* font-weight: bold; */
    /* font-style: italic; */
    color: purple;
}

.x-busdata .bus-l-td {
    padding: 0 !important;
    text-align: center;
}

.busitem-atTerminal .bus-eta-td, .busitem-enrouteToTerminal .bus-eta-td {
    white-space:normal;
    padding-right:0;
    padding-left:0;
}

.busitem-atTerminal, .busitem-enrouteToTerminal {
    background-color: violet;
}

#x-busstop-name {
    text-transform: capitalize;
}

.routestop-items {
    padding-top:0 !important;padding-bottom:0 !important;overflow:visible;
}

.routestop-items div {
    margin-right:12px;height: 100%;
}

.routestop-item-green {
    border-left: 6px solid green;
}

.routestop-item-orange {
    border-left: 6px solid orange;
}

.routestop-item-center-container {
    position:absolute;right:0;width:fit-content;top:0;bottom:0;height:fit-content;margin:auto;
}

.routestop-item {
    background-color:black;color:white;border-radius:8px;padding-left:4px;padding-right:4px;padding-top:2px;padding-bottom:2px;
}

.routestop-item-top-container {
    position:absolute;right:0;width:fit-content;top:0;height:fit-content;margin-top:-8px;
}