<div>
    <style>
        #sequence-overlay {
            position: absolute;
            height: 100%;
            /* bottom: 10px; */
            /* background-color: black; */
            /* color: white; */
        }
        .st-upper {
            position: absolute;
            top: 15%;
            margin-left: 100px;
            font-size: 64px;
            width: 600px;
            /* background-color: whitesmoke; */
        }
        .st-type {
            position: absolute;
            top: 8%;
            margin-left: 100px;
            font-size: 40px;
            width: 600px;
            /* background-color: whitesmoke; */
        }
        /* .st-upper2 span {
            background-color: red;
            color: white;
        } */
    </style>

    <div id='sequence-overlay'>
        <!-- hello -->
        <div class='st-type'><span>Service Change</span></div>
        <div class='st-upper'>
            Hello world!
        </div>
    </div>

    <script>
        var sequence = [
            {
                'at': { station: '601' },
                'zoom': 16,
                'display': 'Hello world!'
            }
        ];

        function playSequence(sequenceType) {
            var typBgColor;
            switch (sequenceType) {
                case 'Service Change':
                    typBgColor = 'red';
                    break;
                case 'Delay':
                    typBgColor = 'orange';
                    break;
            }
            if (typBgColor)
                $('.st-type').html(`<span style="background-color: ${typBgColor};color:white;">${sequenceType}</span>`);

            var texts = ['Hello World!', '6 train runs local to Brooklyn Bridge to Pelham Bay Park', 'All is well'];
            var texti = 0;
            setInterval(() => {
                $('.st-upper').html(texts[texti++]);
                if (texti > texts.length) {
                    texti = 0;
                }
            }, 1000);
        }

        playSequence('Delay');
    </script>

</div>