<div class='top'>

    <style>
        .search-item {
            display:block;background-color: white;color:black;
            width: 90%;
            font-size: 20px;
            height: 70px;
        }
        .search-item:hover {
            background-color: darkslategray;
            color: white;
            cursor: pointer;
        }
        .search-item div {
            display: inline-block;
        }
        .search-item .title {
            padding-left: 5%;
            padding-top: 20px;
        }
        .search-item .services {
            /* position: relative;
            float: right; */
            position: absolute;
            right: 10%;
            vertical-align: middle;
            padding-top: 4px;
        }
    </style>

    <div class='typeselector'>
        <div class='item item-selected'>subway</div> &nbsp; <div class='item'>bus</div>
    </div>

    <div class='jumbo' id='jumbo2'>
        <div class='header'>
            <span class='htext'>Select a subway line</span>
        </div>

        <div id='content'>

        </div>
    </div>

    <div class='jumbo' id='jumbo2'>
        <div class='header'>
            <span class='htext'>Select a station</span>
        </div>

        <div id='content2'>
            <div class="mdc-text-field station-input-container">
                <input type="text" id="station-input" class="mdc-text-field__input">
                <label class="mdc-floating-label" for="my-text-field">Station name</label>
                <div class="mdc-line-ripple"></div>
            </div>

            <div id='search-items'>
                <div class='search-item'>
                    <div class='title'>Parkchester</div>
                    <div class='services'>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/NYCS-bull-trans-4.svg" class="bullet bullet-lcl">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/NYCS-bull-trans-4.svg" class="bullet bullet-lcl">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/NYCS-bull-trans-4.svg" class="bullet bullet-lcl">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        for (var route in SubwayIconSVGMap) {
            if (!route || route == 'S' || route.includes('X')) continue;
            let imgpath = SubwayIconSVGMap[route];
            $('#content').append(`<img src="${imgpath}" class='bullet bullet-${route.includes('X') ? 'exp' : 'lcl'}'/>`);
        }
        mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));

        $('#station-input').on("input",function() {
            console.log(this.value);
            $('#search-items').empty();
            RTNYC.Subway.stationSearch(this.value, (sstopid, sname, lat, lng, services) => {
                // console.log(sname);
                $('#search-items').append(`<div class='search-item'>
                    <div class='title'>${sname}</div>
                    <div class='services'>
                        ${services.map(s => `<img src="${SubwayIconSVGMap[s]}" class="bullet bullet-lcl" />`)}
                    </div>
                </div>`);
            })
        });
    </script>
</div>