<div>
    <style>
        .xtc-table {
            font-family: bahnschrift;
        }

        .xtc-table td {
            padding-left: 5px;
            padding-right: 5px;
        }

        .xtc-table tbody tr:hover {
            background-color: black;
            color: white;
            transition: background-color 0.3s;
            cursor: pointer;
        }

        .bullet-exp {
            width: 30px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
        }

        .red {
            background-color: red !important;
        }

        .t-status {
            text-align: center;
        }
        .xtc-table .bullet-lcl, .xtc-table .bullet-exp {
            width: 32px;
            height: 32px;
        }
    </style>
    <div class='xtc-table'>
        <h3>Northbound</h3>
        <table>
            <thead>
                <th>Bullet</th>
                <th>Trip ID</th>
                <th>Trip Path</th>
                <th>Status</th>
                <th>At</th>
                <th>Next</th>
                <th>Cum. Delay</th>
            </thead>
            <tbody>
                <tr>
                    <td><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg'
                            class='bullet-exp' /></td>
                    <td>06 0000+ BBR/PEL</td>
                    <td>6..N06R</td>
                    <td class='t-status'>Approaching next</td>
                    <td>Hunts Point Avenue (9/12)</td>
                    <td>Parkchester</td>
                    <td>0 min</td>
                </tr>

                <tr>
                    <td><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg'
                            class='bullet-exp' /></td>
                    <td>06 0000+ BBR/PEL</td>
                    <td>6..N06R</td>
                    <td class='t-status'>At</td>
                    <td>Pelham Bay Park (12/12)</td>
                    <td></td>
                    <td>0 min</td>
                </tr>

                <tr>
                    <td><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg'
                            class='bullet-exp' /></td>
                    <td>06 0000+ BBR/PEL</td>
                    <td>6..N06R</td>
                    <td class='t-status'>Enroute to next</td>
                    <td>Bhure Av (11/12)</td>
                    <td>Pelham Bay Park</td>
                    <td>0 min</td>
                </tr>

            </tbody>
        </table>

        <h3>Southbound</h3>
        <table>
            <thead>
                <th>Bullet</th>
                <th>Trip ID</th>
                <th>Trip Path</th>
                <th>Status</th>
                <th>At</th>
                <th>Next</th>
                <th>Cum. Delay</th>
            </thead>
            <tbody>
                <tr class='pulsating'>
                    <td><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg'
                            class='bullet-exp' /></td>
                    <td>06 0000+ BBR/PEL</td>
                    <td>6..N06R</td>
                    <td class='t-status'>Approaching next stop</td>
                    <td>Pelham Bay Park (12/12)</td>
                    <td></td>
                    <td>0 min <span style='font-size:20pt;vertical-align:center;'>!</span></td>
                </tr>

                <tr>
                    <td><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg'
                            class='bullet-exp' /></td>
                    <td>06 0000+ BBR/PEL</td>
                    <td>6..N06R</td>
                    <td class='t-status'>Approaching next stop</td>
                    <td>Pelham Bay Park (12/12)</td>
                    <td></td>
                    <td>0 min</td>
                </tr>

                <tr>
                    <td><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg'
                            class='bullet-exp' /></td>
                    <td>06 0000+ BBR/PEL</td>
                    <td>6..N06R</td>
                    <td class='t-status'>Approaching next stop</td>
                    <td>Pelham Bay Park (12/12)</td>
                    <td></td>
                    <td>0 min</td>
                </tr>

            </tbody>
        </table>
    </div>
    <script>
        setInterval(function () {
            var items = document.getElementsByClassName('pulsating');
            for (var item of items) {
                if (item.className.includes('red')) {
                    item.classList.remove('red');
                } else {
                    item.classList.add('red');
                }
            }
        }, 1000);
    </script>
</div>