<h3>Northbound</h3>

<div class="mdc-data-table tripstable">
    <table class="mdc-data-table__table" aria-label="Dessert calories">
        <thead>
            <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Bullet</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Trip ID</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Trip Path</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Status</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">At</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Next</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Next</th>
            </tr>
        </thead>
        <tbody class="mdc-data-table__content">
            <tr class="mdc-data-table__row">
                <td class='mdc-data-table__cell'><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg' class='bullet-exp' /></td>
                <td class='mdc-data-table__cell'>06 0000+ BBR/PEL</td>
                <td class='mdc-data-table__cell'>6..N06R</td>
                <td class='mdc-data-table__cell' class='t-status'>Approaching next</td>
                <td class='mdc-data-table__cell'>Hunts Point Avenue (9/12)</td>
                <td class='mdc-data-table__cell'>Parkchester</td>
                <td class='mdc-data-table__cell'>0 min</td>
            </tr>
            <tr class="mdc-data-table__row">
                <td class='mdc-data-table__cell'><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg' class='bullet-exp' /></td>
                <td class='mdc-data-table__cell'>06 0000+ BBR/PEL</td>
                <td class='mdc-data-table__cell'>6..N06R</td>
                <td class='mdc-data-table__cell' class='t-status'>At</td>
                <td class='mdc-data-table__cell'>Pelham Bay Park (12/12)</td>
                <td class='mdc-data-table__cell'></td>
                <td class='mdc-data-table__cell'>0 min</td>
            </tr>
            <tr class="mdc-data-table__row">
                <td class='mdc-data-table__cell'><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg' class='bullet-exp' /></td>
                <td class='mdc-data-table__cell'>06 0000+ BBR/PEL</td>
                <td class='mdc-data-table__cell'>6..N06R</td>
                <td class='mdc-data-table__cell' class='t-status'>Enroute to next</td>
                <td class='mdc-data-table__cell'>Bhure Av (11/12)</td>
                <td class='mdc-data-table__cell'>Pelham Bay Park</td>
                <td class='mdc-data-table__cell'>0 min</td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Southbound</h3>

<div class="mdc-data-table tripstable">
    <table class="mdc-data-table__table" aria-label="Dessert calories">
        <thead>
            <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Bullet</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Trip ID</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Trip Path</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Status</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">At</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Next</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Next</th>
            </tr>
        </thead>
        <tbody class="mdc-data-table__content">
            <tr class="mdc-data-table__row">
                <td class='mdc-data-table__cell'><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg' class='bullet-exp' /></td>
                <td class='mdc-data-table__cell'>06 0000+ BBR/PEL</td>
                <td class='mdc-data-table__cell'>6..N06R</td>
                <td class='mdc-data-table__cell' class='t-status'>Approaching next</td>
                <td class='mdc-data-table__cell'>Hunts Point Avenue (9/12)</td>
                <td class='mdc-data-table__cell'>Parkchester</td>
                <td class='mdc-data-table__cell'>0 min</td>
            </tr>
            <tr class="mdc-data-table__row">
                <td class='mdc-data-table__cell'><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg' class='bullet-exp' /></td>
                <td class='mdc-data-table__cell'>06 0000+ BBR/PEL</td>
                <td class='mdc-data-table__cell'>6..N06R</td>
                <td class='mdc-data-table__cell' class='t-status'>At</td>
                <td class='mdc-data-table__cell'>Pelham Bay Park (12/12)</td>
                <td class='mdc-data-table__cell'></td>
                <td class='mdc-data-table__cell'>0 min</td>
            </tr>
            <tr class="mdc-data-table__row">
                <td class='mdc-data-table__cell'><img src='https://upload.wikimedia.org/wikipedia/commons/0/0c/NYCS-bull-trans-6d.svg' class='bullet-exp' /></td>
                <td class='mdc-data-table__cell'>06 0000+ BBR/PEL</td>
                <td class='mdc-data-table__cell'>6..N06R</td>
                <td class='mdc-data-table__cell' class='t-status'>Enroute to next</td>
                <td class='mdc-data-table__cell'>Bhure Av (11/12)</td>
                <td class='mdc-data-table__cell'>Pelham Bay Park</td>
                <td class='mdc-data-table__cell'>0 min</td>
            </tr>
        </tbody>
    </table>
</div>