<div class='top'>
    <link rel="stylesheet" href="styles/viewstation.css">

    <div class='vs-jumbo'>
        <div>149 St - Grand Concourse</div>
    </div>

    <div class='vs-as'>
        <div class='vs-as-a'>
            <div class='title'>Current Arrivals</div>

            <div id='tripscomponent'></div>
        </div>
        <div class='vs-as-s'>
            <div class='vs-card hidden'>
                <div class='header'>
                    <div class='title'>Current Status
                    </div>
                    <i class="material-icons mdc-button__icon" style='position: absolute;right: 8px; top: 16px;' aria-hidden="true">expand_less</i>

                </div>
                <!-- <hr/> -->
                <!-- <div class='value' style='padding-top: 32px;font-size: 28px;display:block;'>OK</div> -->
                <!-- <div style='position:absolute;right:0;'>A</div> -->
            </div>

            <div class='vs-card'>
                <div class='header'>
                    <div class='title'>Trips</div>
                    <div class='blue value'>32</div>
                    <!-- <i class="material-icons mdc-button__icon" style='position: absolute;right: 8px;' aria-hidden="true">expand_less</i> -->

                </div>
                <!-- <hr/> -->
                <!-- <div class='value' style='padding-top: 32px;font-size: 28px;display:block;'>OK</div> -->
                <!-- <div style='position:absolute;right:0;'>A</div> -->
            </div>

        </div>
    </div>

    <script>
        $('#tripscomponent').load('components/trips2.htm');

        function setMapLocationShifted() {
            vc.setMapPanToLocation(40.818375, -73.927351 - 0.002, 16);   
        }

        setMapLocationShifted();
        L.marker([40.818375, -73.921351]).addTo(map);
    </script>
</div>