body {
    background-color: black;
    color: white;
    font-family: 'Noto Sans', bahnschrift;
}


.x-drawer {
    /* background-color: darkslategrey; */
    background: url('https://mediadc.brightspotcdn.com/dims4/default/ef3aa1e/2147483647/strip/true/crop/2290x1322+0+0/resize/2290x1322!/quality/90/?url=https%3A%2F%2Fmediadc.brightspotcdn.com%2F59%2Ffa%2F5514f70a6a54ede3aab2dbf02441%2F88449b894ca08b29cd6dc6d2fa609e18.jpg');
    color: white;
    background-size: cover;
}

.x-drawer a {
    color: whitesmoke !important;
}

.x-drawer-active {
    background-color: black !important;
    color: white !important;
}

.x-drawer .x-drawer-active:hover {
    color: silver !important;
}

.x-drawer a:hover {
    color: darkslategray !important;
}

.bullet-nv {
    width: 32px;
    height: 32px;
}

.bullet-lcl {
    width: 42x;
    height: 42px;
    vertical-align: middle;
}

.content-group {
    padding-left: 5%;
    padding-right: 2%;
}

.cards {
    display:block;
    width:100%;
    text-align: center;
}

.cards h1, h2, h3, h4 {
    font-family: 'Noto Sans', bahnschrift!important;

}

@media only screen and (max-width: 700px) {
    .cards {
        text-align: center;
    }
}

#x-mapframe {
    position:fixed;width:100%;height:calc(100% - 106px);left:0;right:0;top:106px;z-index:-1;
}

.mapframe-fullscreen {
    position:fixed !important;
    width:100% !important;
    height:100% !important;
    left:0 !important;
    right:0 !important;
    top:0 !important;
    bottom: 0 !important;
    z-index:-1 !important;
}

@media screen and (min-width: 1025px) {
    #x-mapframe {
        left: 240px;
        width: calc(100% - 240px);
    }
    #incident-stream {
        /* width: 370px; */
        width: 30%;
    }

}

.card-wide {
    display: inline-block;
    vertical-align: top;
    background-color: rgba(46, 65, 83, 0.8588235294117647);
    border-radius: 20px!important;
    margin-bottom: 22px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}


.overview-card-good {
    background-color:rgba(31, 63, 31, 0.91);
}

.card-text {
    color: whitesmoke !important;
}

.CurrentStatus-card {
    height: 64px;
    cursor: pointer;
}

.Stats-card {
    /* padding-top: 16px; */
    height: 64px;
    cursor: pointer;
}

.Stats-card div {
    /* display:flex;
    align-content: center;
    align-self:center;
    justify-content: center;
    align-items: center; */
    /* height: 100%; */
}

.CurrentStatus-card div {
    display:flex;
    justify-content:center;
    text-align:center;
    height:100%;
    align-items: center;
    align-content: center;
    align-self: center;
    cursor:pointer;
}

.Changes-card {
    background-color: rgba(255, 165, 0, 0.89);
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

.active-svc-changes {
    background-color: rgba(138, 4, 159, 0.91);
}

.tracked-trips-card {
    height: 256px;
}

.headway-card {
    height: 300px;
    padding-top: 12px;
}

.trips {
    background-color: rgba(26, 26, 26, 0.7725490196078432);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* width: fit-content; */
    height:100%;

}

.trips iframe {
    width:100%;
    text-align: center;
    height:250px!important;
}

.review-button {
    width:100%;margin:0;padding:0;
}

#title-bar p {
    text-align: center;
    font-size: 22px;
}


#headway-component {
    width: 100%;
    height: 100%;
}
/* trips component */
.xtc-table {
    font-family: bahnschrift, Arial;
}
.xtc-table td {
    padding-left: 5px;
    padding-right: 5px;
}
.xtc-table tbody tr:hover {
    background-color: gray;
    transition: background-color 0.3s;
    cursor: pointer;
}
.bullet-exp {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}
.red {
    background-color:red!important;
}
.t-status {
    text-align: center;
}

.is-marker {
    font-family:Arial;
    border-radius: 10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
}

.is-delay-marker {
    background-color: orange;
    color:black;
}

.is-pred-marker {
    background-color: white;
    color:black;
}

#incident-stream {
    height:100%;
    display:inline-block;
}

#incident-stream .cont {
    overflow-y: scroll;
    height: 60vh;
    -ms-overflow-style: none;
}

#incident-stream .cont::-webkit-scrollbar {
    background: transparent;
}

#incident-stream .entry {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    /* text-transform: unset;
    color: white;
    text-align: left;
    height: unset;
    font-family: unset; */
}

#incident-stream .entry:hover {
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
}

#x-cards {
    display:inline-block;
    width:69%;
    vertical-align: top;
    text-align: center;
    overflow-y: scroll;
    height: 64vh;
    -ms-overflow-style: none;
}

#x-cards::-webkit-scrollbar {
    background: transparent;
}


/* RTNYC Transit Imported */

.alerts {
    text-align: left;
    color: black;
}

.alerts div {
    border: solid;
    border-width: 1px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    margin-bottom: 16px;
}


.alert-box {
    background-color: rgb(255, 215, 219);
}

.advisory-box {
    background-color: #e4f8ff;    
}

.advisory-attr {
    font-style: italic;
}

.advisory-attr a {
    text-decoration: none;
}

.bullet-mini-lcl {
    width: 28px;
    height: 28px;
}

.bullet-minix-lcl {
    width: 24px;
    height: 24px;
}

/**/
.cv-direction-table {
    width: 100%;
}
.x-stationdata .cv-direction-table {
    background-color: transparent;
    text-align: left!important;
}

.cv-direction-table th {
    color: white!important;
    text-align: left;
}

.service-stop-table tr:hover td {
    color: gray !important;
    /* background-color:green; */
    font-weight: bold;
}

.service-stop-table {
    line-height: inherit;
}

.service-stop-table tr {
    height: 40px;
}

.service-stop-table .stop-name {
    text-align: left!important;
}

.stop-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 1px;
}

/* table {
    table-layout: fixed;
} */

.red {
    background-color: gray;
}

.flashing {
  animation: blinker 1.5s ease-out 3;
  /* background-color: gray; */
}

@keyframes blinker {
  50% {
    /* opacity: 0; */
    background-color: red;
  }
}

#messagebar {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    text-align: center;
}

.cv-direction-table tr:hover {
    color: black;
    cursor: pointer;
}

.search-entry {
    border-radius: 4px;
    padding-left: 8px;
    padding-top: 8px;
    cursor: pointer;

    margin-top: 8px;
    border-bottom: 1px solid white;
    position: relative;
}

.search-entry:hover {
    background-color: rgba(128, 128, 128, 0.658);
}

.search-entry .title {
    font-size:22px;
}

.search-entry-stop .services {
    position:absolute; right: 0;top:0;
}

#x-searchbar .mdl-textfield {
    padding: 0;
}