html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif !important;
}

.contents-closed {
    width: 0%;
    display: none;
}

.sidebar {
    margin-top: 32px;
}

.sidebar h3 {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .contents {
        width: 100%;
        height: 100% !important;
        position: absolute;
        /* margin: 0; */
    }

    #map {
        width: 100%;
        display: none;
        margin: auto;
        height: 100%;
        position: absolute;    
    }

    .map-full {
        display: inherit !important;
    }
}

@media only screen and (min-width: 601px) {
    .contents {
        width: 30%;
        height: 100% !important;
        position: absolute;
        /* margin: 0; */
    }

    #map {
        width: 70%;
        margin: auto;
        left: 30%;
        height: 100%;
        position: absolute;    
    }
}

/* Fix issues with lines appearing on maps on Chrome */
#map { 
    background-color: white;
}

.map-full {
    width: 100% !important;
    left: 0% !important;
}

#x-viewmap {
    text-align: center;
    width: 100%;
}

.bullet-lcl {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.bullet-lcl-disabled {
    filter: grayscale(100%);
}

/* MAP STUFFS */

.subway-stop-dot-alwaysshown {
    background: pink;
    border-radius: 6px;
    opacity: 1;
}

.subway-stop-dot {
    background: pink;
    border-radius: 6px;
    opacity: 0.3;
}

.subway-stop-dot:hover {
    color: green;
    opacity: 1;
}

.subway-stop-label {
    position: absolute !important;
    padding-left: 16px !important;
    /* width: 230px !important; */
    width: max-content;
}

.subway-stop-label-important {
    color:red !important;
    text-shadow: 1px 2px pink !important;
    font-weight: bold;
}

.subway-stop-label-notice {
    color:blue !important;
    text-shadow: 1px 1px lightblue !important;
}