/* Variables */
:root {
    --background-color: white;
    --foreground-text-color: black;

    /* Inverted: */
    /* --background-color: black; */
    /* --foreground-text-color: white; */
}

/* Root Map CSS */

html {
    top: 0; bottom: 0; left: 0; margin: 0;
    height: 100%; width: 100%;
}

body {
    background-color: rgb(246, 246, 246);
    font-family: 'Arial Rounded MT', sans-serif;
    height: 100%; width: 100%;
    margin: 0;
}

/* Fix issues with lines appearing on maps on Chrome */
#map { 
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    position: fixed !important;
}

/* Map Overlay */

#overhead {
    z-index: 1000;
    position: absolute;
    margin: 0;
    width: 100%;
    top: 0;
}



.breadcrum {
    padding-left: 5%;
    /* width: 100%; */
    padding-top: 4px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
}

#supertext {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 8px;
    margin: auto;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    /* font-family: 'Arial'; */
    /* font-weight: bold; */
}

@media (max-width: 400px) {
    #supertext {
        width: 40%;
        font-size: 16px;
        top: 12px;
    }
}

.top {
    padding-left: 5%;
    padding-top: 5%;
    /* width: 100%; */
}

/* Utility */

.bullet-lcl {
    width: 28px;
    height: 32px;
    vertical-align: middle;
}

.bullet-exp {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.blue {
    color: blue;
}

.hidden {
    display: none !important;
}