.typeselector {
    display: block;
    font-size: 20px;
    font-family: 'Arial Narrow';
}

.typeselector .item {
    display: inline;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    text-transform: uppercase;
    color: gray;
    cursor: pointer;
}

.typeselector .item:hover {
    background-color: black;
    color: white;
}

.typeselector .item-selected {
    background-color: lightgray;
    color: gray;
}

.jumbo {
    font-size: 64px;
    padding-top: 2%;
    color: gray;
}

.jumbo .text {
    background-color: var(--background-color);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.htext {
    line-height: 1.4;
    background-color: rgba(255, 255, 255, 0.76);
    /* border-radius: 10px; */
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    /* -webkit-box-decoration-break: clone; */
    /* box-decoration-break: clone; */
}

#content {
    width: 90%;
    padding-top: 16px;
    color: var(--foreground-text-color);
}

.station-input-container {
    width: 90%;
}

@media (min-width: 1200px) {
    #content {
        width: 50%;
    }

    .search-item, .station-input-container {
        width: 50%;
    }
}

#jumbo1:hover {
    color: var(--foreground-text-color);
}


#jumbo2:hover {
    color: black;
}

.top .bullet:hover {
    background-color: white;
    cursor: pointer;
}

.top .bullet-lcl {
    width: 50px;
    height: 50px;
}

.top .bullet-exp {
    width: 50px;
    height: 50px;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
}
