.vs-jumbo {
    font-size: 32px;
    /* padding-top: 2%; */
    /* color: black; */
}

.vs-as {
    display:block;
}

.vs-as-a, .vs-as-s {
    display:inline-block;
    vertical-align: top;
}

.vs-as-a {
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 5%;
}

.vs-as-a .title {
    font-size: 26px;
    padding-top: 20px;
}

.vs-card {
    background-color: rgba(255, 255, 255, 0.63);
    height: 100px;
    width: 256px;
    border-radius: 6px;
    display: block;
    /* padding-left: 8px; */
    /* border: 2px solid black; */
}

.vs-card .title {
    font-size: 22px;
}

.vs-card .value {
    position:absolute;right: 8px;top:30%;font-size: 24px;font-weight: bolder;font-family: Arial;
}

/* .vs-card .value:hover {
    color: white;
} */

.vs-card .header {
    padding-top: 16px;
    /* padding-left: 8px; */
    padding-bottom: 8px;
    width: 100%;
    position: relative;
}

.vs-as-s .vs-card .header:hover {
    background-color: slateblue;
    border-radius: 6px;
}

.vs-as-s .vs-card .header:hover > *  {
    color: white !important;
    cursor: pointer;
}

.vs-card .title {
    padding-left: 8px;
}

/* .vs-as-a {
    display: inline-block;
}

.vs-as-s {
    display: inline-block;
} */

#tripscomponent {
    display: block;
}

.mdc-data-table__header-cell {
    text-align: left;
    /* padding-left: 6px; */
}

.tripstable {
    background-color: rgba(255, 255, 255, 0.575);
}